
/* Spinning Animation*/
.spin {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

/*Body Background and Font*/
body {
  background-color: rgb(0, 0, 128); font-family: Arial, Helvetica, sans-serif; color: white;
}

/*Dowload Button*/
.download-button {
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(0, 85, 197);
color: white;
width: 400px;
height: 75px;
border-radius: 10cm;
text-decoration: none;
display: inline-block;
line-height: 75px
}
.download-button:hover {
  background-color: rgb(0, 55, 128);
}

/* Alles mit <div> ist in der Mitter*/
div {
  text-align: center;
}

/*Test*/
